*.sh text eol=lf
static/downloads/gtfs_unifie.zip filter=lfs diff=lfs merge=lfs -text
output_gtfs/unified/shapes.txt filter=lfs diff=lfs merge=lfs -text
output_gtfs/unified/*.txt filter=lfs diff=lfs merge=lfs -text
static/downloads/*.zip filter=lfs diff=lfs merge=lfs -text
